@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base suave (dark) sin pelear con Element Plus */
html {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

:root {
  /* Fuerza la tipografía también en Element Plus */
  --el-font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(1200px 600px at 10% 0%, rgba(59, 130, 246, 0.18), transparent 55%),
    radial-gradient(900px 500px at 90% 10%, rgba(99, 102, 241, 0.16), transparent 60%),
    #0b1020;
}
